* {
  box-sizing: border-box;
}

body {
  overflow-x:hidden;

}

html, body {
  margin:0;
  padding:0;
}

section {
  color: white;
}

h2 {
  font-family: 'Orbitron', sans-serif;
}

.menu-wrapper {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

}

.navbar {
  word-spacing: 30px;
  background-color: rgba(0,0,0,1);
  padding: 0px 0;
  position: fixed;
  width: 100%;
  z-index: 300;
  display: none;
  font-family: 'Orbitron', sans-serif;
}

nav ul {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  margin: auto;
}

nav li:first-child {
   word-spacing: 2px;
   font-weight: 700;
}


nav .logo img {
  width: 125px;
  margin-top:5px;
}

.menu-wrapper li {
  list-style-type: none;
  display: inline-block;
}

.menu-wrapper ul a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-right: 100px;
}


.menu-wrapper ul a:hover {
  /* border-bottom: 1px solid gold;
  padding-bottom: 5px; */
  color: gold;
}


.header-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 50px;
  height: 100vh;
}


.header-video video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.header-bg-container {
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 100;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin: auto;
  margin-top: 35px;
  background-image: url(../assets/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 30%;
  display: none;
}

.header-container {
  background-color: rgba(0,0,0,.8);
  padding: 30px;
  width: 70%;
  margin: auto;
  display: none;
  margin-top: 100px;
}

.header-title-container {
  font-size: 53px;
  margin: auto;
  height: 120px;
  line-height: 30px;
  padding-top: 30px;
  font-family: 'Orbitron', sans-serif;

}

.blade-title {
  letter-spacing: .1em;
  font-weight: 700;
  text-shadow: 2px 2px #e5c100;
}

.blade-title-info {
  font-size: 12px;
  display: inline-block;
  width: 100%;
  padding-bottom: 40px;
}

.header-subtitle-container {
  width: 70%;
  margin: auto;
  height: 80px;
  line-height: 30px;
  height: 120px;
}


.download-btn-container {
  height: 100px;
}

.download-btn-container a {
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  display: block;
  margin: auto;
  width: 300px;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;

}

.download-btn-container a:hover {
  background-color: rgba(255,255,255,.6);
}


.download-btn-container span {
  font-size: 12px;
}

.wallet-wrapper {
  background-color: black;
  text-align: center;
  color: white;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(assets/wallet-bg.png);
  background-position: center; */
  background-attachment: fixed;
  height: 100vh;
}


.wallet-container {
  background-color: rgba(0,0,0,.5);
}


.wallet-dl-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wallet-dl {
  width: 150px;
  margin: 40px 30px;
}

.wallet-dl img {
  width: 150px;
  padding: 50px;
  border-radius: 100px;
  border: 2px solid black;
  margin-bottom: 20px;
  filter: invert(100%);
}

.wallet-dl img:hover {
  border: 2px solid rgb(229, 193, 0);
  filter: invert(20%);
}


.wallet-dl a {
  color: white;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
}

.wallet-dl a:hover {
  text-shadow: 2px 2px rgba(0,0,0,.7);
  color: rgb(229, 193, 0);
}

.roadmap-wrapper {
  height: 710px;
  background-color: #174087;
}

.roadmap-container {
  padding: 100px 0;
}

.roadmap-container h2 {
  margin-bottom: 70px;
}

.timeline-container {
  width: 70%;
  margin: auto;
  position: relative;
  font-family: 'Raleway', sans-serif;
}

.roadmap-left {
  position: absolute;
  right: 60%;
  width: 200px;
  border: 2px solid white;
  padding: 10px 30px;
}

.roadmap-right {
  position: absolute;
  width: 200px;
  left: 60%;
  margin-top: 30px;
  border: 2px solid white;
  padding: 10px 30px;

}

.roadmap-container .line {
  height: 100px;
  width: 3px;
  background-color:white;
  margin: auto;
  margin-bottom: 20px;
  opacity: 0;
}

.roadmap-container h2 {
   text-align: center;
}

.pong-wrapper {
  height: 700px;
  color: white;
  background-color: #FFAB16;
  text-align: center;
}

#pong-game canvas{
  margin: auto;
  padding-top: 100px;
}

.invaders-wrapper {
  height: 100vh;
}


.about-wrapper {
  height: 800px;
  background-color: black;
  padding-bottom:100px;
}

.about-wrapper h2 {
  margin: 0;
}

.about-container {
  padding: 100px 0;
  text-align: center;
}

.about-image-container {
  margin: auto;
  width: 90%;
  padding-top: 40px;
}

/* img hover */

.hvrbox,
.hvrbox * {
 box-sizing: border-box;
}
.hvrbox {
 position: relative;
 display: inline-block;
 overflow: hidden;
 max-width: 100%;
 height: auto;
 padding: 10px;
 font-family: 'Raleway', sans-serif;

}
.hvrbox img {
 max-width: 100%;
 width: 300px;
 height: 200px;
}

.hvrbox .hvrbox-layer_bottom {
 display: block;
}

.hvrbox .hvrbox-layer_top {
 opacity: 0;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.6);
 color: #fff;
 padding: 15px;
 -moz-transition: all 0.4s ease-in-out 0s;
 -webkit-transition: all 0.4s ease-in-out 0s;
 -ms-transition: all 0.4s ease-in-out 0s;
 transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
 opacity: 1;
}
.hvrbox .hvrbox-text {
 text-align: center;
 font-size: 18px;
 display: inline-block;
 position: absolute;
 top: 50%;
 left: 50%;
 -moz-transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
 font-size: 15px;
 border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
 border-top: 1px solid rgba(179, 179, 179, 0.7);
 margin-top: 5px;
 padding-top: 2px;
 display: none;
}
.hvrbox.active .hvrbox-text_mobile {
 display: block;
}


.hvrbox .hvrbox-layer_slideup {
 -moz-transform: translateY(100%);
 -webkit-transform: translateY(100%);
 -ms-transform: translateY(100%);
 transform: translateY(100%);
}

.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
 -moz-transform: translateY(0);
 -webkit-transform: translateY(0);
 -ms-transform: translateY(0);
 transform: translateY(0);
}


.about-image-container div {
  /* width: 30%;
  padding: 0 10px; */
  display: inline-block;
}

.about-us-images {
  padding-top: 80px;
}

.about-us-images img {
  width: 300px;
  padding: 0 10px;
}

.about-us-images div {
  display: inline-block;
  width: 300px;
}

.contact-wrapper {
  height: 900px
  display: flex;
  background-color: black;
  padding: 100px 0px;
  background-image: url(../assets/header-bg.png);
  background-repeat: no-repeat;
}


.contact-container {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  width: 1150px;
  margin: auto;
  background-color: rgba(0,0,0,.75);
  height: 410px;
  box-shadow: 5px 5px 2px 1px rgba(229, 193, 0, .2);

}

.contact-paragraph-form {
  width: 90%;
  margin: auto;
}

.contact-paragraph {
  width: 50%;
  display:inline-block;
}

.contact-paragraph h2, .contact-paragraph p {
  width: 80%;
  margin: 20px auto;
}

.contact-paragraph .info {
  width: 50%;
  display: block;
  padding-top: 30px;
  line-height: 30px;
}

.contact-paragraph a {
  color: white;
  text-decoration: none;
}

.contact-paragraph a:hover {
  color: white;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}


.contact-form {
  width: 50%;
  float: right;
  display: inline-block;
}

.contact-form input {
  margin: 5px 0;
}

.contact-form .name, .contact-form .email {
  width: 44.5%;
  display: inline;
}

.contact-form .subject {
  width: 90%;
}

.contact-form textarea {
  width: 90%;
  height: 170px;
  margin-top: 5px;
}

.contact-form button {
  margin-top: 15px;
  display: block;
  width: 90%;
  height: 40px;
}

footer {
  background-color: black;
  height: 300px;
  display: flex;
  align-items: center;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  margin: auto;
}

footer li {
  list-style-type: none;
  display: inline-block;
  padding-right: 30px;
}

footer .logo img {
  width: 150px;
  margin-top:25px;
}

footer ul a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 5px;
  font-family: 'Orbitron', sans-serif;
}

footer ul a:hover {
  color: gold;
}


@media only screen and (min-width: 1600px) {
  .about-image-container {
    width: 60%;
    padding-top: 100px;
  }
}
