* {
  box-sizing: border-box;
}

body {
  overflow-x:hidden;
  font-family: 'Nanum Gothic', sans-serif;

}

html, body {
  margin:0;
  padding:0;
}

section {
  color: white;
}


/* flip cards */
.flip-container {
  perspective: 300px;
  position: relative;

}

.flip-container img {
  width: 300px;
  height: 200px;
}

.flip-container:hover {
  filter: contrast(50%);
}

.flip-container.hover .flipper {
  transform: rotateX(180deg);
}

.flip-container,
.front,
.back {
  width: 300px;
  height: 200px;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back {
  backface-visibility: hidden;

}
.front {
  z-index: 2;
  transform: rotateX(0deg);
}
.back {
  transform: rotateX(180deg);
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
}
/* flip cards */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.menu-wrapper {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.navbar {
  word-spacing: 30px;
  background-color: rgba(0,0,0,.6);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 300;
}

nav ul {
  padding-top: 50px;
}

nav li:first-child {
   word-spacing: 2px;
   font-weight: 700;
   padding: 5px;
}

nav li:first-child:hover {
    border: 2px solid gold;
}

.menu-wrapper li {
  list-style-type: none;
  display: inline-block;
}

.menu-wrapper ul a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.menu-wrapper ul a:hover {
  border-bottom: 1px solid gold;
  padding-bottom: 5px;
  color: gold;
}

.header-wrapper {
  height: 550px;
  display: flex;
  width: 100%;
  position: relative;
  margin-top:50px;
}

.header-video video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.header-container {
  width: 80%;
  text-align: center;
  z-index: 100;
  background-color: rgba(0,0,0,.6);
  padding: 30px;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  margin: auto;
}


.header-title-container {
  font-size: 53px;
  margin: auto;
  height: 120px;
  line-height: 30px;
  padding-top: 30px;
}

.blade-title {
  letter-spacing: .1em;
  font-weight: 700;
}

.blade-title-info {
  font-size: 12px;
  display: inline-block;
  width: 100%;
  padding-bottom: 40px;
}

.header-subtitle-container {
  width: 70%;
  margin: auto;
  height: 80px;
  line-height: 30px;
  height: 120px;
}


.download-btn-container {
  height: 100px;
}

.download-btn-container a {
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  display: block;
  width: 140px;
  margin: auto;
  width: 220px;
  margin-bottom: 15px;
  font-weight: 700;
}

.download-btn-container a:hover {
  background-color: gold;
  color: white;
}


.download-btn-container span {
  font-size: 12px;
}

.exchange-wrapper {
  height: 500px;
  background-color: #174087;
  color: white;
  text-align: center;
}

.exchange-container h2 {
  padding-top: 50px;

}

.wallet-wrapper {
  background-color: red;
  text-align: center;
  color: white;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/water-bg.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}


.wallet-dl-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wallet-dl {
  width: 150px;
  margin: 40px 30px;
}

.wallet-dl img {
  width: 150px;
  padding: 50px;
  border-radius: 100px;
  border: 2px solid black;
  margin-bottom: 20px;
  filter: invert(100%);
}


.wallet-dl a {
  color: white;
  text-decoration: none;
}

.wallet-dl a:hover {
  text-shadow: 2px 2px rgba(0,0,0,.7);
}

.roadmap-wrapper {
  height: 500px;
  background-color: #174087;
}

.roadmap-container {
  padding: 50px 0;
}

.roadmap-left {
  position: absolute;
  left: 30%;
}

.roadmap-container .line {
  height: 100px;
  width: 5px;
  background-color:white;
  margin: auto;
  margin-bottom: 20px;
  opacity: 0;
}

.roadmap-container h2 {
   text-align: center;
}

.about-wrapper {
  background-color: darkblue;
}

.about-container {
  padding: 50px 0;
  text-align: center;
}

.about-image-container {
  margin: auto;
  width: 90%;
  padding-top: 40px;
}

.about-image-container div {
  /* width: 30%;
  padding: 0 10px; */
  display: inline-block;
}

.about-us-images {
  padding-top: 80px;
}

.about-us-images img {
  width: 300px;
  padding: 0 10px;
}

.about-us-images div {
  display: inline-block;
  width: 300px;
}

.contact-wrapper {
  display: flex;
  background-color: #174087;
  padding: 100px 0px;
}


.contact-container {
  display: flex;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
  width: 80%;
  margin: auto;
  background-color: rgba(0,0,0,.6);
  height: 410px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);

}

.contact-paragraph-form {
  width: 90%;
  margin: auto;
}

.contact-paragraph {
  width: 50%;
  display:inline-block;
}

.contact-paragraph h2, .contact-paragraph p {
  width: 80%;
  margin: 20px auto;
}

.contact-paragraph .info {
  width: 50%;
  display: block;
  padding-top: 30px;
}


.contact-form {
  width: 50%;
  float: right;
  display: inline-block;
}

.contact-form input {
  margin: 5px 0;
}

.contact-form .name, .contact-form .email {
  width: 44%;
  display: inline;
}

.contact-form .subject {
  width: 90%;
}

.contact-form textarea {
  width: 90%;
  height: 170px;
  margin-top: 5px;
}

.contact-form button {
  margin-top: 15px;
  display: block;
  width: 90%;
  height: 40px;
}

footer {
  background-color: black;
  height: 200px;
  display: flex;
  align-items: center;
}

footer li {
  list-style-type: none;
  display: inline-block;
  padding-right: 30px;
}

footer ul a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 5px;
}

footer ul a:hover {
  border-bottom: 1px solid gold;
  padding-bottom: 5px;
  color: gold;
}
